/* HEADER */

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    background: rgba(121, 106, 106, 0.6);
}

.header-container {
    width: 92%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo-brand {
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    color: white;
}


.logo-text {
    font-size: 2rem;
    letter-spacing: 2px;
}

/* Navigation */

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    transition: .3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background: #d4af37;
    transition: .3s;
}

.nav-link:hover {
    color: #d4af37;
}

.nav-link:hover::after {
    width: 100%;
}

/* Partie droite */

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-email-display {
    color: white;
    font-size: .9rem;
}



/* Responsive */

@media (max-width:900px) {

    .header-container{
        flex-direction:column;
        gap:20px;
    }

    .nav-menu{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .auth-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

}